---
import DATA from './headerData.json';
import { Link } from '@components/global/Link';
import { Icon, type TIcon } from '@components/global/Icon';
import Img from '@components/global/Img.astro';

const currentPath = Astro.url.pathname;
---

<header id="headerContainer" class="bg-white sticky top-0 z-header100">
  <div class="container">
    <div class="py-16 flex flex-row flex-wrap items-center justify-between">
      <Link href="/">
        <Img src={DATA.logo.src} alt={DATA.logo.alt} width={128} height={64} isLazy={false} />
      </Link>

      <Link buttonType="button" className="lg:hidden hover:text-red-500">
        <span id="menuToggler" class="flex flex-col items-center">
          <Icon icon="bars" className="text-32" />
          <span class="text-16">Menu</span>
        </span>
      </Link>

      <nav
        id="menuContainer"
        class="w-full lg:w-max max-h-0 lg:max-h-max overflow-hidden transition-all"
      >
        <ul class="pt-16 lg:pt-0 flex flex-col lg:flex-row gap-16 lg:gap-32">
          {
            DATA.links.map(({ href, label }) => (
              <li>
                <Link
                  href={href}
                  className={`text-16 ${currentPath === href ? 'text-red-500' : ''} hover:text-red-500`}
                >
                  {label}
                </Link>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>

    <div class="flex flex-wrap">
      {
        DATA.buttons.map(({ href, icon, label }, index) => (
          <Link
            href={href}
            className={`w-full md:w-1/2 py-8 px-16 flex flex-row items-center gap-8 text-white text-16 ${index === 0 ? 'bg-red-500' : 'bg-blue-500'}`}
          >
            <Icon icon={icon as TIcon} />
            <span>{label}</span>
          </Link>
        ))
      }
    </div>
  </div>
</header>

<script>
  const headerContainer = document.getElementById('headerContainer') as HTMLDivElement;
  const menuToggler = document.getElementById('menuToggler') as HTMLDivElement;
  const menuContainer = document.getElementById('menuContainer') as HTMLDivElement;

  menuToggler.addEventListener('click', () => {
    menuContainer.classList.toggle('max-h-0');
    menuContainer.classList.toggle('max-h-[280px]');
    menuToggler.classList.toggle('text-red-500');
  });

  function handleClickOutsideHeader(event: MouseEvent) {
    if (!headerContainer.contains(event.target as Node)) {
      menuContainer.classList.remove('max-h-[280px]');
      menuContainer.classList.add('max-h-0');
      menuToggler.classList.remove('text-red-500');
    }
  }

  document.addEventListener('click', handleClickOutsideHeader);
</script>
