---
import HEADER_DATA from './headerData.json'
import Link from '@components/global/Link.astro'
import Img from '@components/global/Img.astro'
import Icon from '@components/global/Icon.astro'

const currentPath = Astro.url.pathname
---

<h1 class='text-red-500 py-128'>{currentPath}</h1>
<header id='header' class='bg-white sticky top-0 z-100'>
  <div class='container'>
    <div class='py-16 flex flex-row flex-wrap items-center justify-between'>
      <Link tag='a' href='/'>
        <Img src='/global/logo.svg' alt='RTD HVAC Logo' width={128} height={64} />
      </Link>

      <Link tag='button' className='lg:hidden hover:text-red-500'>
        <span id='toggler' class='flex flex-col items-center'>
          <Icon icon='bars' className='text-32' />
          <span class='text-16'>Menu</span>
        </span>
      </Link>

      <nav id='menu' class='w-full lg:w-max max-h-0 lg:max-h-max overflow-hidden transition-all'>
        <ul class='pt-16 lg:pt-0 flex flex-col lg:flex-row gap-16 lg:gap-32'>
          {
            HEADER_DATA.links.map(({ href, label }) => (
              <li>
                <Link
                  tag='a'
                  href={href}
                  className={`text-16 ${currentPath === href ? 'text-red-500' : ''} hover:text-red-500`}
                >
                  {label}
                </Link>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>

    <div class='flex flex-wrap'>
      {
        HEADER_DATA.buttons.map(({ href, icon, label }, index) => (
          <Link
            tag='a'
            href={href}
            className={`w-full md:w-1/2 py-8 px-16 flex flex-row items-center gap-8 text-white text-16 ${index === 0 ? 'bg-red-500' : 'bg-blue-500'}`}
          >
            <Icon icon={icon} />
            <span>{label}</span>
          </Link>
        ))
      }
    </div>
  </div>
</header>

<script>
  const header = document.getElementById('header') as HTMLDivElement
  const toggler = document.getElementById('toggler') as HTMLDivElement
  const menu = document.getElementById('menu') as HTMLDivElement

  toggler.addEventListener('click', () => {
    menu.classList.toggle('max-h-0')
    menu.classList.toggle('max-h-[280px]')
    toggler.classList.toggle('text-red-500')
  })

  function clickOutsideHeaderHandler(event: MouseEvent) {
    if (!header.contains(event.target as Node)) {
      menu.classList.remove('max-h-[280px]')
      menu.classList.add('max-h-0')
      toggler.classList.remove('text-red-500')
    }
  }

  document.addEventListener('click', clickOutsideHeaderHandler)
</script>
