---
import DATA from './reviewsData.json';
import SectionHeader from '@components/global/SectionHeader.astro';
import Img from '@components/global/Img.astro';
import { Icon } from '@components/global/Icon';

interface Props {
  isScroll?: boolean;
}

const { isScroll = false } = Astro.props;
---

<div class="section-pt-128-flex-64">
  <SectionHeader data={DATA.header} className="container" />

  <div class={`container ${isScroll ? 'max-w-full p-0' : ''}`}>
    <ul
      class={`flex gap-32 ${isScroll ? 'flex-row flex-nowrap overflow-x-auto px-32' : 'flex-col'}`}
    >
      {
        DATA.reviews.map(({ title, paragraph, author }) => (
          <li
            class={`${isScroll ? 'flex-shrink-0 w-[384px] lg:w-[512px]' : 'w-full'} p-32 rounded-16 bg-white flex flex-col gap-16 justify-between`}
          >
            <div class="flex flex-col gap-16">
              <div class="flex flex-row items-center gap-16">
                <Img src={DATA.googleImg} alt="RTD HVAC Reviews" width={20} height={20} />

                <ul class="flex flex-row gap-8">
                  {[0, 1, 2, 3, 4].map(() => (
                    <li class="flex">
                      <Icon icon="star" className="text-16 text-red-500" />
                    </li>
                  ))}
                </ul>
              </div>

              <section class="flex flex-col gap-16">
                <h3 class="text-h3">{title}</h3>
                <p class="text-p">{paragraph}</p>
              </section>
            </div>

            <p class="text-p">{`- ${author}`}</p>
          </li>
        ))
      }
    </ul>
  </div>
</div>
