---
interface ILinkMinProps {
  tag: 'a' | 'button';
  buttonType?: 'button' | 'submit';
  href?: string;
  isExternal: boolean;
  className?: string;
}

const {
  tag,
  buttonType = 'button',
  href,
  isExternal = false,
  className = ''
} = Astro.props as ILinkMinProps;
---

{
  tag === 'a' && href ? (
    isExternal ? (
      <a href={href} class={className} target="_blank" rel="noopener norefferer">
        <slot />
      </a>
    ) : (
      <a href={href} class={className}>
        <slot />
      </a>
    )
  ) : (
    <button type={buttonType} class={className}>
      <slot />
    </button>
  )
}
